.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.card {
  border-radius: 2px;
  padding: 8px;
  outline: 1px solid tomato;
}

.heading-second {
  margin: 0 0 8px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.button {
  font-weight: 700;
  color: white;
  border: 1px solid pink;
  border-radius: 2px;
  padding: 4px 8px;
  background-color: rebeccapurple;
}

.button:disabled {
  opacity: 0.5;
}
