#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  position: relative;
  outline: 1px solid lightgrey;
  padding: 12px;
  border-radius: 4px;
  transition: outline 250ms;
  margin: 0 24px 24px 0;
}

.card:has(.user-info) {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: lightgray;
    transition: background-color 250ms;
  }
}

.card__text {
  margin: 0;
}

.card_active-user:has(.user-info) {
  outline-color: lightgreen;

  &::after {
    background-color: lightgreen;
  }
}

.card_disabled {
  outline: 1px solid gainsboro;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 12px;
}

.buttons-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.todo-list {
  min-height: 128px;
  max-height: 256px;
}

ul {
  padding: 12px 0 0 0;
  margin: 0 0 12px 0;
  list-style: none;
  text-align: start;
  overflow: auto;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  .buttons-group {
    margin-left: auto;
  }
}
